header {
    margin-top: 60px;
    margin-left: 58px;
    margin-right: 58px;
}

h1 {
    padding-bottom: 5px;
}

p {
    padding: 15px 0px;
}

main {
    margin: 60px;
}

#empty_line {
    background-color: #ffffff;
    height: 40px;
}

tbody tr:nth-child(odd) {background-color: #f2f2f2;} /* Sélectionne la ligne en position paire de mon tableau et lui applique une couleur */
